@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>
<h2>@ViewData["Messege"]</h2>

<p>Victor Magalhães @ViewData["Programador"]</p>
<address>
    <strong>Mais Informações: </strong> <a href="https://github.com/jvictormagalhaes">GitHub </a>
</address>
